/* styles/Home.module.css */
.newsItem {
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsTitle {
    font-size: 20px;
    color: #333;
    text-align: center;
    font-size: 1.4em;
}

.newsDescription {
    color: #666;
    word-break: break-all;
    width: 80%;
    margin: auto;
}

.newsLink {
    color: #007bff;
    text-decoration: none;
}

.main {
    width: 60vw;
    margin: auto;
}
